body{
    width: 100%;
    overflow-x: hidden;
}
tr td:first-child{
    font-weight: bold;
    width: 30%;
}

tr td:last-child{
    width: 70%;
}

.bg-manual-color{
    background-color: #0275d8;
}

#footer{
    background-color: #0275d8;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    color: #fafafa;
    padding: 10px 0px;
    margin-top: 50px;
}

#header{
    background-color: #0275d8;
    height: 140px;
    color: #fafafa;
    padding: 10px 0px;
}

.logo{
    width: 150px!important;
    padding: 5px 20px;
}