{% extends 'main.html' %}
{% load static %}

{% block content %}
    <div class="container col-9">
        <div class="card">
            <h5 class="card-header">Contacts</h5>
            <div class="card-body mx-auto">
              <h5 class="card-title">Dr. Yasha Hasija</h5>
              <p class="card-text">Department of Biotechnology, Delhi Technological University
                <br>Shahbad Daulatpur, Main Bawana Road, Delhi
                <br>Email: yashahasija@dce.ac.in</p>
              <br>
              <br>
              <h5 class="card-title">Mr. Rajkumar Chakraborty</h5>
              <p class="card-text">Department of Biotechnology, Delhi Technological University
                <br>Shahbad Daulatpur, Main Bawana Road, Delhi
                <br>Email: rajkumar_mt2k16@dtu.ac.in</p>
                <br>
                <br>
                <h5 class="card-title">Rishabh Rawat</h5>
                <p class="card-text">Department of Biotechnology, Delhi Technological University
                  <br>Shahbad Daulatpur, Main Bawana Road, Delhi
                  <br>Email: rishabhrawat_2k17bt19@dtu.ac.in</p>
                  <br>
              <br>
              <h5 class="card-title">Megh Nadar</h5>
              <p class="card-text">Department of Biotechnology, Delhi Technological University
                <br>Shahbad Daulatpur, Main Bawana Road, Delhi
                <br>Email: meghnadar_2k17bt13@dtu.ac.in</p>
                <br>
              <br>
              <h5 class="card-title">Siddhant Rajkumar</h5>
              <p class="card-text">Department of Biotechnology, Delhi Technological University
                <br>Shahbad Daulatpur, Main Bawana Road, Delhi
                <br>Email: siddhantrajkumar_2k17bt23@dtu.ac.in</p>
            </div>
          </div>
          <br>
    </div>
{% endblock content %}